@use "bootstrap/scss/bootstrap" with (
  $primary: #2A9D8F,
  $secondary: #E76F51,
  $light: #FEFAE0,
  $success: #90be6d,
  $info: #219ebc,
  $warning: #E9C46A,
  $danger: #d62828,
  $dark: #264653 
);

// Define custom variables
$bg-body: #264653;
$primary: #2A9D8F;

// Use custom variables in your styles
body {
  background-color: $bg-body;
}

// Corrected selector to target '.project-img'
.project-img {
  opacity: 1; /* Initial opacity */
  transition: opacity 400ms ease, transform 400ms ease; /* Smooth transition for opacity and transform */
}

.project-link:hover .project-img {
  opacity: 0.5; /* Change opacity on hover */
  transform: scale(1.05); /* Slightly enlarge the image on hover */
}

// Additional styling for better visual effect
.project-card {
  position: relative;
  overflow: hidden;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  opacity: 0;
  transition: opacity 400ms ease;
}

.project-link:hover .card-img-overlay {
  opacity: 1;
}

.card-title {
  margin: 0;
}

//https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51//
// #264653
// #2A9D8F
// #E9C46A
// #F4A261
// #E76F51
// #FEFAE0